<style type="text/css">
/* the calendar table style */

option.lst {}

input.btn {}

ul.bullets {
    padding-left: 0px;
    /*list-style-image:url("example.gif")*/
}





/******/

.calendar li {
    list-style-type: none;
    list-style-image: none;
    border: 1px solid;
    border-color: #42D692;
    background-color: #CAF4E0;
    color: #777777;
    padding: 3px 3px 3px 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.calendar .singleEvent {
    display: inline;
}

.calendar ul {
    line-height: 0.8em;
    margin-left: 0;
}

.calendar ul.bullets li {
    font-size: 9px;
    font-family: monospace;
    margin-bottom: 4px;
    padding-left: 7px;
}

.calendar ul.bullets li br {
    display: block;
}





/********/

.calendarWeekday {
    vertical-align: top;
    background-color: ;
}

.calendarWeekend {
    vertical-align: top;
    background-color: #EEEEEE;
}

.calendarToday {
    vertical-align: top;
    background-color: #FFFFDD;
}

.daymissing {
    height: 100px;
    border: 1px solid #808080;
    background-color: #EEEEEE;
}

.alerts {
    text-align: left;
}

.calendarYearSelect {
    text-align: right;
    white-space: nowrap;
}

.calendarMonthSelect {
    white-space: nowrap;
}

.eventsMode {}

.dayMode {}

.weekMode {
    border: 1px solid #808080;
    height: 100px;
}

.calendarAddEvent {
    text-align: right;
    white-space: nowrap;
    font-size: 10px;
    vertical-align: top;
}

.monthMode {
    height: 100px;
    border: 1px solid #808080;
}

.calendarEventList {
    width: 100%;
    background-color: transparent;
}





/********/

.calendarEventList img {
    width: 100%;
}





/********/

.calendarTransparent {
    background-color: transparent;
    width: 100%;
}





/* defines the text for single day events... other events inherent these base values */


/***********/

.calendar .singleEvent .baseEvent {
    padding: 0px;
    border-spacing: 0px;
    text-align: left;
}

.calendar .singleEvent .baseEvent a {
    font-size: 9px;
    font-family: sans-serif;
}



/**********/


/* defines the text for multi-day events... inherents baseEvent */

.repeatEvent {}





/* defines the text for recurrence type events... inherents baseEvent */

.recurrenceEvent {
    font-weight: bold;
}

.calendar {
    padding: 0px;
    border-spacing: 0px;
    border: 0px solid #808080;
    border-collapse: collapse;
    width: 100%;
    background-color: ;
}





/* style for the table cell displaying the month title */

.calendarTitle {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}





/* style for the week day headings */

.calendarHeading {
    width: 14%;
    text-align: center;
    font-weight: bold;
    background-color: #E0E0E0;
    border: 1px solid #808080;
}

.calendarDayNumber {
    white-space: nowrap;
    border: 1px solid #CCCCCC;
    background-color: #E0E0E0;
    width: 20%;
    text-align: center;
    font-size: 12px;
}

.dayweekyear {
    text-align: left;
    font-size: 10px;
    font-style: italic;
}





/* eventlist 'mode' day overrrides */

.eventsDay {
    background-color: transparent;
    border: 0px;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    text-align: left;
}

.singleDay {
    background-color: transparent;
    border: 0px;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    text-align: left;
}





/******  Year View Options BEGIN  *******/

.yearCalendar {
    vertical-align: top;
    border: 0px solid #808080;
    xborder-collapse: collapse;
    width: 100%;
    text-align: center;
}

.yearCalendarMonth {
    vertical-align: top;
    border: 1px solid #808080;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.yearTitle {
    text-align: center;
    font-weight: bold;
    border: 1px solid #808080;
    font-size: 14px;
}

.yearHeading {
    text-align: center;
    font-weight: bold;
    background-color: #E0E0E0;
    border: 1px solid #808080;
    font-size: 12px;
}

.yearWeekday {
    text-align: center;
    border: 1px solid #808080;
    font-size: 12px;
}

.yearWeekend {
    text-align: center;
    background-color: #EEEEEE;
    border: 1px solid #808080;
    font-size: 12px;
}





/******  Year View Options END  *******/


/******  Détruire l'Ennui things ******/

.calendar ul.bullets li {
    font-family: sans-serif;
    font-size: 11px;
    line-height: 1.2em;
    margin-bottom: 4px;
    padding-left: 7px;
}

.calendar ul.bullets li {
    /* max-width: 100%; */
}

.calendar ul.bullets li a {
    display: none;
}

.calendar ul.bullets li a.image {
    display: inline;
}

.calendar ul.bullets li a.image img {
    height: auto;
}

.calendar ul.bullets li .baseEvent a {
    display: inline;
}





/*.calendar td, calendar ul.bullets li,
  .calendarEventList a{
    max-width:125px;
}*/

.calendar .singleEvent li {
    max-width: 100%;
    word-break: break-all;
}

.calendar .singleEvent img {
    display: block;
    max-width: 100%;
}

.calendar .singleEvent iframe,
.calendar .singleEvent object,
.calendar .singleEvent embed {
    width: 100%;
    height: auto;
}

.calendar .singleEvent .thumbinner {
    width: 100% !important;
    float: inherit;
    padding: 0;
    display: block;
}

.calendar .singleEvent .thumbinner {
    padding-left: 0 !important;
}

.calendar .singleEvent .thumbinner a {
    display: block;
}

.calendar .singleEvent div.tright {
    border-width: 0;
    float: inherit;
}





/* Bug player Youtube 640px fixed */

.calendar .singleEvent div.embedvideowrap {
    width: 100% !important;
}

</style>